<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Post</title>
</head>
<body>
    <h1>{{ post.titulo }}</h1>
    <br>
    <p>{{ post.fecha_publicacion }}</p>
    <p>{{ post.autor}}</p>
    <br>
    <p>{{ post.contenido }}</p>
    <br>
    <a href="{% url 'editar_post' post.pk %}">
      <button type="submit">
         editar
      </button>
    </a>
    <br>
    <br>
    <a href="{% url 'listar_post' %}">
      <button type="submit">
        Volver a la lista
      </button>
    </a>
    <br>
    <br>
   <a href="{% url 'listar_post' %}">
  <button type="submit">
    ← Volver al inicio
  </button>
  </a>
</body>
</html>
