<!DOCTYPE html>
<html lang="es">
<head>
    <title>Lista de post</title>
</head>
<body>
    <h1>lista de Posts</h>
        <form method="get">
            Fecha minima: <input type="number" name="fecha_min">
            Fecha maxima: <input type="number" name="fecha_max">
            <button type="submit">Filtrar por Fecha</button>
        </form>
         <form method="get">
            Buscar: <input type="text" name="q">
            <button type="submit">Filtrar por nombre, descripcion o categoria</button>
        </form>
    <ul>
        {% for post in posts %}
        <li>{{ post.titulo }} - {{ post.fecha_publicacion }} - {{ post.categoria }} - {{ post.autor }}</li>
        {% endfor %}
    </ul>
    <br>
    <div>
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">Anterior</a>
        {% endif %}
        <span>Pagina {{ posts.number }} de {{ posts.paginator.num_pages }}</span>
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Siguente</a>
        {% endif %}
    </div>
    <br>
    <br>
   <a href="{% url 'inicio' %}">
  <button type="submit">
    ← Volver al inicio
  </button>
  </a>
</body>
</html>
